<?xml version="1.0" encoding="UTF-8"?>                                                             
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pactera.dao.EmpDao">

	<select id="getEmp" resultType="Employees" parameterType="String">
		select * from Employees where EMPLOYEE_ID =#{id}
	</select>
</mapper>                                                                                                  
